                     Data-PreProcessing Machine Learning 7/11/2022

In [1]:
# import libraries

import pandas as pd 
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt

In [8]:
df = pd.read_excel('drawndata1.csv')
df.head()

            x           y  z
0   58.080365  225.699042  a
1  238.867357  247.456645  a
2  156.218212  286.588782  a
3  262.004361  284.251445  a
4  185.243183  308.187571  a

In [6]:
df.sample(7)

               x           y  z
11    336.778928  256.307498  a
84    701.648690  286.359241  b
179  1903.771190  282.276559  b
106  1034.846049  281.973952  b
86    698.585182  263.401912  b
125  1189.644203  237.633645  b
208  2453.584340  226.079248  b