           Logistic Regression  8/11/2022

In [3]:
#import libraries

import pandas as pd 
df= pd.read_csv('mldata.csv')

df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani  165.000
2   29    80.0   Male  Biryani  171.000
3   27   102.0   Male  Biryani  173.000
4   29    67.0   Male  Biryani  164.000

In [19]:
df['gender'] = df['gender'].replace("Male",1)
df['gender'] = df['gender'].replace("Female",0)
df.tail()

     age  weight  gender likeness  height
240   31    60.0       1   Pakora   160.0
241   26    70.0       1  Biryani   172.0
242   40    80.0       1  Biryani   178.0
243   25    65.0       1  Biryani     5.7
244   33    56.0       0   Samosa   157.0

In [20]:
#selection of input and output varibles

X= df[['weight','gender']]
y=df['likeness']

In [22]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [24]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [28]:
# machine learning algorithum

from sklearn.tree import DecisionTreeClassifier

# create and fit model

model = DecisionTreeClassifier().fit(X,y)

# prediction 

model.predict([[69,0]])

C:\Users\Lenovo\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [31]:
# how to measure the accuray of our model
# split data into test and train (80/20)

from sklearn.model_selection import  train_test_split
from sklearn.metrics import accuracy_score

X_train,X_test, y_train, y_test =train_test_split(X,y,test_size=0.2)# 80% traig and 20% test

#create a model 

model = DecisionTreeClassifier()

#fitting a model

model.fit(X_train,y_train)

predicated_values = model.predict(X_test)

predicated_values

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [33]:
# checking scoure


score =accuracy_score(y_test,predicated_values)
score

0.5714285714285714

In [35]:
# how to to run and save your model

import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model,"Foodie.joblib")

['Foodie.joblib']

In [ ]:
# how to run a store or save model ?assigment

In [38]:
#graph tree

from sklearn import tree 
model = DecisionTreeClassifier().fit(X,y)

#graphic evaluation / look into what happend 

gr= tree.export_graphviz(model,
                    out_file ="foodie.dot",
                    feature_names=['age','gender'],
                    class_names = sorted(y.unique()),
                    label= 'all',
                    rounded =True,
                    filled =True
                    )