In [47]:
import pandas as pd 
import numpy as  np 
import seaborn as sns 
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split

In [48]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [49]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [50]:
# removing null values of embarked colums

df.dropna(subset=['age','fare'],inplace=True)

In [51]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           530
embark_town      2
alive            0
alone            0
dtype: int64

In [52]:
x= df[['age']]
y =df['fare']

In [53]:
X_train , X_test, Y_train , Y_test = train_test_split(x,y, train_size=0.80)

In [54]:
model = LinearRegression()

In [55]:
model.fit(X_train, Y_train)

LinearRegression()

In [56]:
model.score(X_test,Y_test)

0.008378198738202891

In [57]:
model.predict([[12]])

C:\Users\Lenovo\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([28.10848979])

In [3]:
import pandas as pd 
import numpy as  np 
import seaborn as sns 
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split

In [8]:
df= pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani  165.000
2   29    80.0   Male  Biryani  171.000
3   27   102.0   Male  Biryani  173.000
4   29    67.0   Male  Biryani  164.000

Step-2 splitting dataset into tranning data and testing data

In [20]:
x= df[['age']]
y= df['weight']

In [21]:
x.head()

   age
0   27
1   41
2   29
3   27
4   29

In [13]:
y.head()

0     76.0
1     70.0
2     80.0
3    102.0
4     67.0
Name: weight, dtype: float64

In [22]:
#import library  and split data 

from sklearn.linear_model import     LinearRegression
from sklearn.model_selection import  train_test_split
X_test,X_train,Y_test,Y_train = train_test_split(x,y,test_size=0.2 ,random_state=0)

step 3 Liner Regression Model

In [23]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(X_train, Y_train)
model

LinearRegression()